.message{
    display: flex;
    align-items: center;
    padding: 20px;
}

.message > img {
    height:50px;
    width: 50px;
    object-fit: contain;
}

.messageTimestamp {
    color:rgb(61, 61, 61);
    font-weight: 300;
    font-size: 12px;
}

.messageInfo{
    padding-left: 10px;
}